@page
@model PlayerByAttributeFormModel
@{
    ViewData["Title"] = "Stats per Physical Attributes";
}
<h1>@ViewData["Title"]</h1>
<form>
    <label for="players">Players to be compared via a comma seperated list:</label>
    <div class="horizontal-align">
        <input type="text" id="players" name="players">
        <input class="checkbox" type="checkbox" checked="checked" id="allPlayers" name="allPlayers"><br /><br />
        <label for="allPlayers">Compare All Players</label><br /> 
    </div>
    <div class="horizontal-align">
        <input class="checkbox" type="checkbox" id="desc" name="descending", checked="checked">

        <label for="descending">Descending</label><br /><br />
    </div>
    <label for="metric">Metric to rank players by:</label>
    <div>
        <input type="radio" name="metric" checked value="Position" /><label for="metric">&ensp;Position</label><br />
        <input type="radio" name="metric" value="Height" /><label for="metric">&ensp;Height</label><br />
        <input type="radio" name="metric" value="Weight" /><label for="metric">&ensp;Weight</label><br />
        <input type="radio" name="metric" value="BirthDate" /><label for="metric">&ensp;Birth Date</label><br />
        <input type="radio" name="metric" value="Age" /><label for="metric">&ensp;Age</label><br />
    </div>
    <input class="submit" type="submit" value="Submit">
</form>
<br />
<br />
<div class="flex-row horizontal-align left-border">
    <div class="vertical-align">
        <table class="table">
            <thead>
                <tr>
                    <th>@(Model.ChosenAttribute)</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Points</th>
                    <th>Assists</th>
                    <th>Rebounds</th>
                    <th>Blocks</th>
                    <th>Steals</th>
                    <th>Turnovers</th>
                    <th>Verified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Dummy)
                {
                    <tr class="verified-row">
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                        <td>@row</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>