@page
@model PlayerComparisonFormModel
@{
    ViewData["Title"] = "Player Comparison";
}
<h1>@ViewData["Title"]</h1>
<body>
    <div class="outer-container">
    <form>
            <label class="fw-bold" for="players">Enter comma separated list of players:</label>
        <div class="horizontal-align">
            <input type="text" id="players" name="players" placeholder="Shaquille Oneal, Kobe Bryant" multiple>
            <input @Model.AllPlayers class="checkbox" type="checkbox" id="allPlayers" name="allPlayers"><br /><br />
                <label class="fw-bold"  for="allPlayers">Compare All Players</label><br />
        </div>
            <label class="fw-bold" for="metric">Ranking Metric:</label>
        <div>
            <input checked class="" type="radio" name="metric" value="points" /><label for="metric">&ensp;Points</label><br />
            <input type="radio" name="metric" value="assists" /><label for="metric">&ensp;Assists</label><br />
            <input type="radio" name="metric" value="rebounds" /><label for="metric">&ensp;Rebounds</label><br />
            <input type="radio" name="metric" value="blocks" /><label for="metric">&ensp;Blocks</label><br />
            <input type="radio" name="metric" value="steals" /><label for="metric">&ensp;Steals</label><br />
            <input type="radio" name="metric" value="minutes" /><label for="metric">&ensp;Minutes</label><br />
            <input type="radio" name="metric" value="turnovers" /><label for="metric">&ensp;Turnovers</label>
        </div>
        <div class="horizontal-align">
            <input @Model.Descending class="checkbox" type="checkbox" id="desc" name="descending">
            <label class="fw-bold" for="descending">Descending</label><br /><br />
        </div>
        <div class="horizontal-align">
            <input class="checkbox" type="checkbox" id="desc" name="customVals">
            <label class="fw-bold" for="customVals">Allow User-Entered Teams</label>
        </div>
        <input class="submit" type="submit" value="Submit">
    </form>
    <br />
    <div class="flex-row horizontal-align left-border">
        <div class="vertical-align">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Points</th>
                        <th>Assists</th>
                        <th>Rebounds</th>
                        <th>Blocks</th>
                        <th>Steals</th>
                        <th>Minutes</th>
                        <th>Turnovers</th>
                        <th>Verified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Players != null)
                    {
                        foreach (var col in Model.Players)
                        {
                                @if (col.Verified > 0)
                                {
                            <tr class="non-verified-row">
                                <td>@col.Rank</td>
                                <td>@col.Name</td>
                                <td>@col.Points</td>
                                <td>@col.Assists</td>
                                <td>@col.Rebounds</td>
                                <td>@col.Blocks</td>
                                <td>@col.Steals</td>
                                <td>@col.Minutes</td>
                                <td>@col.Turnovers</td>
                                <td>No</td>
                            </tr>
                            }
                            @if (col.Verified == 0)
                            {
                                <tr class="verified-row">
                                    <td>@col.Rank</td>
                                    <td>@col.Name</td>
                                    <td>@col.Points</td>
                                    <td>@col.Assists</td>
                                    <td>@col.Rebounds</td>
                                    <td>@col.Blocks</td>
                                    <td>@col.Steals</td>
                                    <td>@col.Minutes</td>
                                    <td>@col.Turnovers</td>
                                    <td>Yes</td>
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>