@page
@model AddGameFormModel
@{
    ViewData["Title"] = "Add New Game";
}
<div class="custom-horizontal-align">
    <div class="vertical-align">
        <h1>@ViewData["Title"]</h1>
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Winning Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                            <input type="text" id="teamName" name="teamName"/>
                        </td>
                        <td>
                            <div class="horizontal-align">
                                <input type="radio" name="conference" value="Eastern" /><label for="conference">&ensp;Eastern&ensp;</label><br />
                                <input type="radio" name="conference" value="Western" /><label for="conference">&ensp;Western&ensp;</label><br />
                            </div>
                        </td>
                        <td>
                            <input class="submit add-button" type="submit" value="Add Team">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <br />
        <br />
        <div class="flex-row horizontal-align left-border">
            <div class="vertical-align">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Conference</th>
                            <th>Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Teams != null)
                        {
                            foreach (var row in Model.Teams)
                            {
                                
                                    <tr class="non-verified-row">
                                        <td>@row.TeamID</td>
                                        <td>@row.Name</td>
                                        <td>@row.ConferenceName</td>
                                        <td>@row.Verified</td>
                                    </tr>    
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>


    </div>
</div>
